.sign {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(112, 112, 203, 1) 0%,
    rgba(18, 236, 208, 1) 92%
  );
}
.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}